<html>
{%include head.html%}

<body>
    <div class="container">
        <h4>
            <span>
                {{ page.title }}
            </span>
        </h4>
        <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{%
            if page.meta %} • {{ page.meta }}{% endif %}
        </p><br><br>
        {{content}}
        <a class="button round" onclick="window.history.back()"><i>arrow_back</i>Back</a>
        {% if page.previous.url %}
        <a class="button round" href="{{page.previous.url}}"><i>arrow_back_ios</i>{{page.previous.title}}</a>
        {% endif %}
        {% if page.next.url %}
        <a class="button round" href="{{page.next.url}}">{{page.next.title}}<i>arrow_forward_ios</i></a>
    </div>
    {% endif %}
    {%include navbar.html%}
    {%include foot.html%}
</body>

</html>